*,html{
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.App-logo {
  z-index:1;
  pointer-events: none;
  height:40px;
}
.React{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left:2rem;
  padding-top:1.5rem;
  padding-bottom:1.5rem;
}
.React h3{
  margin:0;
  color: rgb(35, 196, 196);
  font-weight: bold;
  font-size:2rem;
  padding-left:5px;
}
.React h4{
  padding-right: 20px;
  color:white;
 
  
}
.App-nav{
  box-sizing: border-box;
  background-color: rgb(8, 16, 31);
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  
}
.Body ul li{
  list-style-type: none;
  line-height: 3rem;
  margin-left:2rem;
  align-content: center;
}
 .Body ul li::marker {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(35, 175, 175); /* Change the color */
  font-size:2.4rem;
  display:inline-block;
  /*font-weight: bolder;//  If you want it to be bold 
  font-size: 3rem;
  display: inline-block; // Needed to add space between the bullet and the text 
  width: 0.7em; // Also needed for space (tweak if needed) 
  margin-left: -1rem; // Also needed for space (tweak if needed) */ 
}


.App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

.App-Body h1{
  margin-left:2rem;
}

.App-Body {
  background-image: url(../react-icon-large.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:left;
  justify-content: top;
  font-size:1rem;
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ToggleButton{
  display:flex;
  position: absolute;
  right:0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333131;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(245, 243, 243);
;
  transition: .4s;
}

input:checked + .slider {
  background-color: #b0bec9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {

  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
